# SPDX-License-Identifier: GPL-3.0-or-later
[Desktop Entry]
Name=Flowee Pay
GenericName=Bitcoin Cash Payment Solution
Comment=Transact on the Bitcoin Cash network, payments and more
Keywords=wallet;bitcoin;bitcoincash;financial;
Type=Application
Categories=Office;Finance;
Exec=pay
Terminal=false
Icon=org.flowee.pay
MimeType=x-scheme-handler/bitcoincash;
